#paper {
    position: relative;
    background: lightgray;
    width: 100%;
    height: 600px;
    border: 1px solid gray;
    overflow: hidden;
    display: inline-block;
}

#paper svg {
    background: transparent;
}
#paper svg .link {
    z-index: 2;
}

#paperControls {
    position: relative;
    background: #7B3A3A;
    width: 210px;
    height: 600px;
    border: 1px solid gray;
    overflow: hidden;
}

#paperControls svg {
    background: transparent;
}
#paperControls svg .link {
    z-index: 2;
}

#form {
    color: #7c68fc;
    height: 400px;
}

form textarea {
    height: 330px;
    width: 270px;
}

form * {
    margin-left: 10px;
}

.container {
    position: relative;
    width: 800px;
}

.container > div {
    height: 400px;
}

.container .button-container {
    height: 202px;
    background: #949494;
}

.container .button-container button {
    margin-left: 5px;
    margin-top: 5px;
}

.container .footer {
    margin-top: 610px;
    position: absolute;
    width: 1100px;
}

.container .footer textarea {
    width: 535px;
    height: 500px;
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    overflow:scroll;
}

.container .footer span{
    padding-right:450px;
}

.column-left {
    width: 210px;
    left: 0;
    background: lightgray;
    position: absolute;
}

.column-center {
    width: 590px;
    background: grey;
    margin-left: 210px;
    position: absolute;
}

.column-right {
    margin-right: -300px;
    background: #7B3A3A;
    width: 300px;
    right: 0;
    position: absolute;
}
