#paper {
    position: relative;
    background: lightgray;
    width: 800px;
    height: 500px;
    border: 1px solid gray;
    overflow: hidden;
    display: inline-block;
}

#paper svg {
    background: transparent;
}
#paper svg .link {
    z-index: 2;
}

#paperControls {
    position: relative;
    background: #7B3A3A;
    width: 800px;
    height: 180px;
    display: table-cell;

    border: 1px solid gray;
    overflow: hidden;
}

#paperControls svg {
    background: transparent;
}
#paperControls svg .link {
    z-index: 2;
}

#form {
    position: relative;
    background: grey;
    display: table-cell;
    width: 200px;
    /*position: absolute;*/
}

.element-edit {
    position: absolute;
    top: 20px;
}

#log {
    width: 800px;
    height: 300px;
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    overflow:scroll;
}
