#paper {
    position: relative;
    background: lightgray;
    width: 800px;
    height: 500px;
    display: inline-block;

    border: 1px solid gray;
    overflow: hidden;
}

#paper svg {
    background: transparent;
}
#paper svg .link {
    z-index: 2;
}

#paperControls {
    position: relative;
    background: grey;
    width: 800px;
    height: 120px;
    display: inline-block;

    border: 1px solid gray;
    overflow: hidden;
}

#paperControls svg {
    background: transparent;
}
#paperControls svg .link {
    z-index: 2;
}

#log {
    width: 800px;
    height: 200px;

    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    height: 300px;
    overflow:scroll;
}
