/* elements */
/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}

.devs text {
    /* text-transform: uppercase; */
    font-weight: 800;
}

.devs .body {
    fill: #ffffff;
    stroke: #00d2c6;
    stroke-width: 4px;
}

.devs .label1 {
    fill: #00d2c6;
}

.devs .label2 {
    fill: #00d2c6;
}

.devs .port-body {
    stroke: #ffffff;
    stroke-width: 2px;
    /*fill: #7c68fc;*/
}

.devs .inPorts .port0 .port-body {
    fill: #7c68fc;;
}

/* port styling */
.devs .inPorts .port0 .available-magnet {
    fill: yellow;
}

.devs .outPorts .port0 .port-body {
    fill: tomato;
}

.devs .outPorts .port1 .port-body {
    fill: #008200;
}

/* hide ports*/
.devs .inPorts .port0 .port-body.hide {
    visibility: hidden;
}

.devs .outPorts .port0 .port-body.hide {
    visibility: hidden;
}

.devs .outPorts .port1 .port-body.hide {
    visibility: hidden;
}

.devs .port-body:hover {
    opacity: 1;
    fill: #ff7e5d;
}

/* port label */
.devs .port-label {
    fill: #7c68fc;
}

.devs .port-label.hide {
    visibility: hidden;
}
.devs .port-label.show {
    visibility: visible;
}

.devs.Atomic .body {
    stroke: #ffb176;
}

.devs.Atomic .label1 {
    fill: #ffb176;
}

.devs.Atomic .label2 {
    fill: #ffb176;
}
/* links */

.link .connection {
    stroke: #72baff;
    stroke-width: 2px;
}

.link .connection.red {
    stroke: tomato;
    stroke-width: 2px;
}
.link .connection.green {
    stroke: #008200;
    stroke-width: 2px;
}

.link .marker-arrowhead, .link .marker-vertex {
    fill: #696b87;
}

.link-tools .tool-remove circle {
    fill: #ff7e5d;
}

/* highlighting */

.devs.highlighted-parent .body {
    stroke: #ff7e5d;
    transition: stroke 1s;
}

.devs.highlighted-parent .label1 {
    fill: #ff7e5d;
    transition: fill 1s;
    text-decoration: underline;
}

.devs.highlighted-parent .label2 {
    fill: #ff7e5d;
    transition: fill 1s;
    text-decoration: underline;
}
